<!--The content below is only a placeholder and can be replaced.-->
<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" href="#"><img alt="" src="assets/img/logo1.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
<section>
    <div class="container">
        <div class="select_wrap clearfix">
            <div class="select">
                <div class="search_wrap">
                    <input type="text" placeholder="Search">
                    <span><i class="fa fa-search" aria-hidden="true"></i></span>
                </div>
                <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                    </select>
            </div>
            <div class="select">
                <div class="search_wrap">
                    <input type="text" placeholder="Search">
                    <span><i class="fa fa-search" aria-hidden="true"></i></span>
                </div>
                <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                    </select>
            </div>
            <div class="select">
                <div class="search_wrap">
                    <input type="text" placeholder="Search">
                    <span><i class="fa fa-search" aria-hidden="true"></i></span>
                </div>
                <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                    </select>
            </div>
            <div class="select">
                <div class="search_wrap">
                    <input type="text" placeholder="Search">
                    <span><i class="fa fa-search" aria-hidden="true"></i></span>
                </div>
                <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                    </select>
            </div>
            <div class="select">
                <div class="search_wrap">
                    <input type="text" placeholder="Search">
                    <span><i class="fa fa-search" aria-hidden="true"></i></span>
                </div>
                <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                    </select>
            </div>
        </div>
        <div class="reference_sitelink text-center">
            <p><a href="https://www.typographyeditor.com" target="_blank">https://www.typographyeditor.com</a></p>
            <p><a href="https://www.toptal.com/designers/subtlepatterns" target="_blank">https://www.toptal.com/designers/subtlepatterns</a></p>
        </div>
    </div>
</section>